@import "primeicons/primeicons.css";

.app-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: min-content;
}

.app-margin-top {
  margin-top: 25px;
}

.app-highlight {
  background-color: yellow;
  font-weight: bold;
}
